@model DeleteUserCarModel
@inject ICarsService carsService
@{ 
    var car = carsService.GetById(Model.CarId);
    ViewData["Title"] = "Confirm Delete";
    var carName = $"{car.Generation.Model.Make.Name} {car.Generation.Model.Name} {car.Generation.Name}";
}

<h3>@ViewData["Title"]</h3>
<div>
    <h4>Are you sure you want to delete @carName ? </h4>
    <hr />
    
    <form asp-action="Delete">
        <input type="submit" value="Yes, Delete" class="btn btn-danger" />
    </form>
</div>
