@model IEnumerable<DisplayMakeModel>
    @{
    ViewData["Title"] = "All Makes";
    }

    <table class="table col-md-6">
        @foreach (var make in Model)
        {
        <tr>
            <td>
                <div class="col-md-1">
                    <img width="100" height="100" src="/images/makes/@(make.Id).png" />
                </div>
            </td>
            <td>
                <div class="col-md-5">
                    <a asp-controller="Models" asp-action="All" asp-route-id="@make.Id">
                        <h3>@make.Name</h3>
                        @make.Description
                    </a>
                </div>
            </td>
        </tr>
        }
    </table>
