@model CreateCarModel
@inject IEnginesService enginesService
@{
    var enginesList = enginesService.All()
        .Select(x => new SelectListItem()
        {
            Value = x.Id,
            Text = $"{x.Name} ({x.MaxHP} HP) - {x.Creator}"
        })
        .OrderBy(x => x.Text);
}
<h4>CreateCarModel</h4>
<hr />
<div class="row">
    <div class="container-fluid">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EngineId" class="control-label"></label>
                <select asp-for="EngineId" asp-items="enginesList" class="form-control">
                    <option selected="selected" value="">--</option>
                </select>
                <span asp-validation-for="EngineId" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Transmission" class="control-label"></label>
                <select asp-for="Transmission" asp-items="Html.GetEnumSelectList<Transmission>()" class="form-control">
                    <option selected="selected" value="">--</option>
                </select>
                <span asp-validation-for="Transmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriveWheel" class="control-label"></label>
                <select asp-for="DriveWheel" asp-items="Html.GetEnumSelectList<DriveWheel>()" class="form-control">
                    <option selected="selected" value="">--</option>
                </select>
                <span asp-validation-for="DriveWheel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"><b>Fuel Consumption</b></label><br />
                <label asp-for="FuelConsumption.Urban" class="control-label"></label>
                <input asp-for="FuelConsumption.Urban" class="form-control" />
                <span asp-validation-for="FuelConsumption.Urban" class="text-danger"></span>
                <label asp-for="FuelConsumption.ExtraUrban" class="control-label"></label>
                <input asp-for="FuelConsumption.ExtraUrban" class="form-control" />
                <span asp-validation-for="FuelConsumption.ExtraUrban" class="text-danger"></span>
                <label asp-for="FuelConsumption.Combined" class="control-label"></label>
                <input asp-for="FuelConsumption.Combined" class="form-control" />
                <span asp-validation-for="FuelConsumption.Combined" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"><b>Acceleration</b></label><br />
                <label asp-for="Acceleration._0_100" class="control-label"></label>
                <input asp-for="Acceleration._0_100" class="form-control" />
                <span asp-validation-for="Acceleration._0_100" class="text-danger"></span>
                <label asp-for="Acceleration._0_200" class="control-label"></label>
                <input asp-for="Acceleration._0_200" class="form-control" />
                <span asp-validation-for="Acceleration._0_200" class="text-danger"></span>
                <label asp-for="Acceleration._0_300" class="control-label"></label>
                <input asp-for="Acceleration._0_300" class="form-control" />
                <span asp-validation-for="Acceleration._0_300" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopSpeed" class="control-label"></label>
                <input asp-for="TopSpeed" class="form-control" />
                <span asp-validation-for="TopSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfGears" class="control-label"></label>
                <input asp-for="NumberOfGears" class="form-control" />
                <span asp-validation-for="NumberOfGears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeginningOfProduction" class="control-label"></label>
                <input asp-for="BeginningOfProduction" class="form-control" />
                <span asp-validation-for="BeginningOfProduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndOfProduction" class="control-label"></label>
                <input asp-for="EndOfProduction" class="form-control" />
                <span asp-validation-for="EndOfProduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tires size</label>
                <span asp-validation-for="TireInfo.TireWidth" class="text-da"></span>
                <span asp-validation-for="TireInfo.AspectRatio" class="text-danger"></span>
                <span asp-validation-for="TireInfo.WheelDiameter" class="text-danger"></span>
                <input asp-for="TireInfo.TireWidth" class="col-2" step="5" /> /
                <input asp-for="TireInfo.AspectRatio" class="col-2" step="5" /> /
                <input asp-for="TireInfo.WheelDiameter" class="col-2" />
                <span asp-validation-for="TireInfo" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-auto">
                    <label class="control-label">ABS</label>
                    <input asp-for="HasABS" type="checkbox" name="HasABS" value="true" />
                </div>
                <div class="col-auto">
                    <label asp-for="HasESP" class="control-label">ESP</label>
                    <input type="checkbox" name="HasESP" value="true" />
                </div>
                <div class="col-auto">
                    <label class="control-label">TCS</label>
                    <input asp-for="HasTCS" type="checkbox" name="HasTCS" value="true" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

