@model DeleteEngineModel

<h4 class="text-danger">Confirm Delete</h4>
<div>
    <hr />
    <h5>Are you sure you want to delete the engine @Model.Name by @Model.Creator ?</h5>
    <h6>Doing so will also delete:</h6>

    <table class="table-borderless col-sm-6">
        <tr>
            <td><span class="badge badge-danger badge-pill">@Model.UserCarsCount</span></td>
            <td class="col-sm-4"><b>Users' cars</b></td>
        </tr>
        <tr>
            <td><span class="badge badge-danger badge-pill">@Model.CarsCount</span></td>
            <td class="col-sm-4"><b>Cars from the Database</b></td>
        </tr>
    </table>

    <hr />
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger col-sm-2" />
    </form>
</div>